@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500&display=swap");
.team--people-container__img .person-info h6, .team--secondary-title, .team--main-title, .works--secondary-title, .works--main-title, .about--info__text h5, .about--info__text h4, .about--secondary-title, .about--main-title, .header--title {
  text-align: center;
  text-transform: uppercase;
  color: #505050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s linear;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background: #eff0f2;
}
.header .container {
  position: relative;
  height: 805px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header--logo {
  position: absolute;
  top: 64px;
  left: 150px;
}
.header--title {
  margin-top: 305px;
  letter-spacing: 1.8px;
  line-height: 57px;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.2392156863);
}
.header--title__background {
  background: #b2f2ee;
  padding: 0 15px;
}
.header--button {
  width: 232px;
  height: 53px;
  border: 2px solid #505050;
  border-radius: 2px;
  margin-top: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header--button a {
  font-size: 18px;
  font-weight: 600;
  color: #505050;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.8px;
}
.header--button:hover {
  background: #505050;
  box-shadow: 0 0 10px rgba(80, 80, 80, 0.8);
}
.header--button:hover a {
  color: #eff0f2;
}
.header--glass {
  position: absolute;
  right: 202px;
  bottom: 75px;
}

.about {
  background: #f8fafa;
  padding-top: 120px;
}
.about .container {
  height: 865px;
}
.about--main-title {
  font-size: 38px;
  font-weight: 800;
  color: #000;
  letter-spacing: 1.4px;
}
.about--secondary-title {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-top: 3px;
}
.about--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1032px;
  margin: 142px 0 0 230px;
}
.about--info__img {
  position: relative;
  width: 392px;
  height: 484px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1490196078);
  overflow: hidden;
}
.about--info__img img {
  position: absolute;
  left: -415px;
  top: -7px;
  width: 1168px;
}
.about--info__text {
  width: 485px;
}
.about--info__text h4 {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  letter-spacing: 1.4px;
  text-align: left;
  margin: 2px 0 20px 0;
}
.about--info__text h5 {
  font-family: "Merriweather", sans-serif;
  font-size: 17px;
  letter-spacing: 1.2px;
  text-align: left;
  margin: 32px 0 16px 0;
}
.about--info__text p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}

.works .container {
  padding-top: 120px;
  padding-bottom: 125px;
}
.works--main-title {
  font-size: 38px;
  font-weight: 800;
  color: #000;
  letter-spacing: 1.4px;
}
.works--secondary-title {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-top: 3px;
}
.works--images-container {
  width: 90%;
  max-width: 1140px;
  margin: 117px auto 0;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 13px;
  column-gap: 15px;
}
.works--images-container__img {
  position: relative;
  width: 370px;
  height: 359px;
  overflow: hidden;
  cursor: pointer;
}
.works--images-container__img .work {
  position: absolute;
}
.works--images-container__img .image1 {
  width: 888px;
  top: -12px;
  left: -261px;
}
.works--images-container__img .image2 {
  width: 379px;
  top: -5px;
  left: -6px;
}
.works--images-container__img .image3 {
  width: 380px;
  top: -10px;
  left: -6px;
}
.works--images-container__img .image4 {
  width: 435px;
  top: -3px;
  left: -32px;
}
.works--images-container__img .image5 {
  width: 380px;
  top: -3px;
  left: -8px;
}
.works--images-container__img .image6 {
  width: 790px;
  top: -3px;
  left: -215px;
}

.team {
  background: #f9fbfb;
}
.team .container {
  padding-top: 89px;
  padding-bottom: 120px;
}
.team--main-title {
  font-size: 38px;
  font-weight: 800;
  color: #000;
  letter-spacing: 1.4px;
}
.team--secondary-title {
  font-family: "Merriweather", sans-serif;
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-top: 1px;
}
.team--people-container {
  width: 90%;
  max-width: 1140px;
  margin: 120px auto 0;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 13px;
  column-gap: 15px;
}
.team--people-container__img {
  position: relative;
  width: 370px;
  height: 440px;
  overflow: hidden;
  cursor: default;
}
.team--people-container__img img {
  position: absolute;
}
.team--people-container__img .person1 {
  width: 385px;
  top: -6px;
  left: -15px;
}
.team--people-container__img .person2 {
  width: 440px;
  top: -4px;
  left: -53px;
}
.team--people-container__img .person3 {
  width: 411px;
  top: -9px;
  left: -14px;
}
.team--people-container__img .person4 {
  width: 385px;
  top: 0px;
  left: -13px;
}
.team--people-container__img .person5 {
  width: 389px;
  top: -2px;
  left: -7px;
}
.team--people-container__img .person6 {
  width: 385px;
  top: -3px;
  left: -2px;
}
.team--people-container__img .person-info {
  position: absolute;
  left: 17px;
  bottom: 16px;
  width: 335px;
  height: 241px;
  background: #6ff6eb;
  padding: 37px 39px;
  box-shadow: 5px 5px 5px rgba(231, 231, 231, 0.2588235294);
  opacity: 0;
}
.team--people-container__img .person-info h6 {
  font-family: "Merriweather", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  letter-spacing: 1.1px;
  color: #2b3131;
  margin-top: 1px;
  margin-bottom: 17px;
}
.team--people-container__img .person-info h6 i {
  font-family: "Merriweather", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  letter-spacing: 1.2px;
  color: #767776;
}
.team--people-container__img .person-info p {
  color: #2b3131;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.6px;
  margin-bottom: 28px;
}
.team--people-container__img .person-info::before {
  content: "";
  position: absolute;
  top: -39px;
  left: 12px;
  border: 20px solid transparent;
  border-bottom: 35px solid #6ff6eb;
  opacity: 0;
  transition: all 0.3s linear;
}
.team--people-container__img .person-info .link {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.team--people-container__img .person-info .link a {
  position: relative;
}
.team--people-container__img .person-info .link a:first-child img {
  position: relative;
  height: 14px;
}
.team--people-container__img .person-info .link a:nth-child(2) img {
  position: relative;
  top: -1px;
  left: 1px;
  height: 10px;
}
.team--people-container__img .person-info .link a:nth-child(3) img {
  position: relative;
  height: 12px;
}
.team--people-container__img .person-info .link a:nth-child(4) img {
  position: relative;
  left: -4px;
  height: 11px;
}
.team--people-container__img .person-info .link a:hover img {
  height: 30px;
}
.team--people-container__img:hover .person-info {
  opacity: 1;
}
.team--people-container__img:hover .person-info::before {
  opacity: 1;
}

.contacts {
  background: #f9fbfb;
}
.contacts .container {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.631372549);
}
.contacts .container .bg {
  position: absolute;
  width: 1534px;
  left: -76px;
  top: -160px;
  z-index: 5;
}
.contacts .container .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 8;
  background: linear-gradient(#f9fbfb 6%, rgba(255, 255, 255, 0.7137254902) 60%);
}
.contacts--info {
  display: flex;
  justify-content: space-between;
  max-width: 1142px;
  margin: 188px auto 123px;
}
.contacts--info__form {
  width: 90%;
  max-width: 614px;
  height: 460px;
  background: rgba(2, 22, 35, 0.6705882353);
  z-index: 10;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.contacts--info__form input, .contacts--info__form textarea {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7137254902);
  font-size: 15px;
  letter-spacing: -0.6px;
  color: rgba(255, 255, 255, 0.7137254902);
  padding-left: 4px;
  margin-bottom: 13px;
}
.contacts--info__form input::placeholder, .contacts--info__form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7137254902);
}
.contacts--info__form textarea {
  height: 109px;
  margin-top: 15px;
  resize: none;
}
.contacts--info__form--button {
  width: 244px;
  height: 53px;
  border: none;
  border-radius: 2px;
  background: rgba(110, 238, 227, 0.5960784314);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #505050;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 25px 0 0 1px;
}
.contacts--info__form--button:hover {
  background: #00ffea;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7137254902);
}
.contacts--info__description {
  width: 90%;
  max-width: 500px;
  height: 460px;
  background: rgba(2, 22, 35, 0.6705882353);
  z-index: 10;
  padding: 27px 23px 18px 22px;
  display: flex;
  flex-direction: column;
}
.contacts--info__description p {
  font-size: 15px;
  padding-left: 8px;
  margin-top: 5px;
  letter-spacing: -0.7px;
  color: rgba(255, 255, 255, 0.7137254902);
}
.contacts--info__description p:nth-child(5) {
  margin-top: 29px;
}
.contacts--info__description p span {
  position: relative;
  top: 2px;
}
.contacts--info__description p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3294117647);
}
.contacts--info__description p a:hover {
  color: rgba(255, 255, 255, 0.7137254902);
}
.contacts--info__description #map {
  width: 100%;
  height: 302px;
  margin-top: 23px;
}

.footer {
  background: #262b2e;
  height: 315px;
  padding-top: 90px;
}
.footer--nav {
  width: 200px;
  margin: 0px auto;
}
.footer--nav p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #bbb8b9;
  margin-left: -4px;
}
.footer--nav .footer--nav__links {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 0 -4px;
}
.footer--nav .footer--nav__links a {
  width: 45px;
  height: 40px;
  background: #424648;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.footer--nav .footer--nav__links a svg {
  height: 24px;
  fill: #bbb8b9;
}
.footer--nav .footer--nav__links a:hover {
  background: #00ffea;
}
.footer--nav .footer--nav__links a:hover svg {
  fill: #262b2e;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.9490196078);
  cursor: pointer;
  opacity: 0;
}
.popup--img {
  max-width: 1200px;
  box-shadow: 0 0 30px #686868;
  cursor: default;
}
.popup--close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  opacity: 0.5;
}
.popup--close:hover {
  opacity: 1;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opacity {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
